body {
  background-color: #292929;
}

p {
  font-family: ‘Roboto’, sans-serif;
  color: white;
  opacity: 80%;
  font-weight: 100;
}

h1 {
  font-family: 'Poiret One', cursive;
  color: white;
  opacity: 96%;
  font-weight: 100;
}

h2 {
  font-family: ‘Roboto’, sans-serif;
  color: white;
  opacity: 96%;
  font-weight: 100;
}

a {
  font-family: ‘Roboto’, sans-serif;
  text-decoration: none;
  color: #707070;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navImg {
  width: 25vw;
}

.nav_link {
  color: #292929;
  font-size: 24px;
  font-weight: 200;
}
#footerBar {
  display: flex;
  flex-shrink: 0;
}
.footer_parent {
  background-color: #d0c9ff;
  opacity: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form div {
  margin: 1em;
  display: inline-block;
}

i {
  width: 50px;
  height: 50px;
}

/* HOMEPAGE */
#main {
  background-image: url('https://i.imgur.com/pxpNYHB.png') no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero {
  width: 100%;
}

.container .btn {
  position: absolute;
  top: 45%;
  left: 48%;
  width: 320px;
  height: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff2ab;
  color: black;
  font-size: 30px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: #fff2ab;
  opacity: 50%;
}

.container h1 {
  font-family: ‘Noto Serif KR’, serif;
  position: absolute;
  color: #d0c9ff;
  opacity: 96%;
  font-size: 88px;
  font-weight: 400;
  top: 30%;
  left: 48%;
  transform: translate(-50%, -50%);
}

/* PRODUCT PAGE */

.product_parent {
  margin: 5vw;
  width: 90vw;
  display: grid;
  grid-gap: 50px 50px;
  grid-template-columns: repeat(4, auto [col-start]);
}

.product_card {
  display: flex;
  flex-direction: column;
  background-color: #707070;
  opacity: 30%;
  align-items: center;
}

.product_btn {
  width: 200%;
}

.product_image {
  width: 300px;
  height: 150;
  border: 1px solid lightblue;
}

.product_info {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 1px solid lightblue;
  border-radius: 10px;
  color: white;
}

.product_info h3 {
  color: white;
}

.product_child {
  flex: 1 1 25%;
}

.product_child + .product_child {
  margin-top: 20px;
}

.nav_bar_parent {
  background: #292929;
  opacity: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.nav_bar_logo h1 {
  color: white;
  margin-left: 10px;
}

.nav_bar_item {
  color: white;
}

.nav_bar_cart_image {
  height: 20px;
  width: 20px;
}

.nav_bar_items {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

.nav_bar_item {
  display: flex;
}

.nav_bar_child {
  margin: 0px 10px 0px 10px;
  font-family: 'Poiret One', cursive;
  color: white;
  opacity: 50%;
  font-size: 20px;
}

.checkout {
  color: white;
}

::placeholder {
  background-color: #615757;
  border: #615757;
  color: white;
}

select {
  background-color: #615757;
  color: white;
  border: #615757;
}

#selected_product_parent {
  display: flex;
  margin: 50px;
  flex: 1;
}

#sel_info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 40vw;
  margin-left: 20px;
}

.sel_prod_btn {
  width: 15vw;
}

#selImage {
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
}

#aboutUs_parent {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutUsInfo {
  display: flex;
}

#aboutUsText {
  width: 40vw;
  margin-right: 20px;
}
#aboutUsImg {
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
}
